/*google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
    font-family: 'Lato', sans-serif;
}

body {
     background-color: #8EC5FC;
background-image: -webkit-linear-gradient(152deg, #8EC5FC 0%, #E0C3FC 100%);
background-image: -o-linear-gradient(152deg, #8EC5FC 0%, #E0C3FC 100%);
background-image: linear-gradient(242deg, #8EC5FC 0%, #E0C3FC 100%);
}

a {
    text-decoration: none;
}

.container .login-box,
.container .register-box {
    max-width: 33rem;
    border-radius: 0.6rem;
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.5);
}

.container .login-box {
    height: 30rem;
    margin: 5rem auto;
}

.container .register-box {
    height: 42rem;
    margin: 2rem auto;
}

.login-box button,
.register-box button{
    font-size: 1.2rem;
}

.login-box span,
.register-box span{
    font-size: 1.2rem;
    display: block;
    text-align: center;
}

